<div class="list_title">Your list</div>
<br />
<table width="100%">
  <!-- will past partial code of file _line_item.html.erb for each element at line_items -->
  <%= render :partial => list.list_items %>

</table>

<!-- i am not quite shure what this line of code does. have to do after get over this-->
<%= button_to "Empty list", list, :method => "delete", :confirm => "Are you shure?" %>
