<% if notice %>
<p id="notice">
	<%= notice %>
</p>
<% end %>

<h1>Catalog</h1>

<%= form_tag "search", :controller => "search", :method => 'get' do %>
<p>
	<%= text_field_tag :search, params[:search], size: 80 %>
	<%= submit_tag "Search", :name => nil, remote: true %>
</p>
<% end %>
<hr />

<% @products.each do |product| %>
<div class="entry">
	<img style="float:left;" src="<%= product.image_url %>"></img>
	<h3 style="margin-left:100px;"><%= product.title %></h3>
	<%= product.description %>
	<div style="margin-left:100px;" class="price_line">
		<span class="price"><%= sanitize(product.price) %></span>
	</div>
	<!-- that button action will call create method of list_items_controller -->
	<%= button_to('Add to List', {:controller => "list_items", :action => "create", :web_id => product.web_id}, :class => 'addToCartBtn', remote: true) %>
</div>
<br />
<hr />
<% end %>
