<div class="cart_title">Your Cart</div>
<br />
<table width="100%">
  <!-- will past partial code of file _line_item.html.erb for each element at line_items -->
  <%= render :partial => cart.line_items %>

  <tr class="total_line">
    <td colspan="2">Total</td>
    <td class="total_cell"><%= number_to_currency(cart.total_price) %></td>
</table>

<%= button_to "Checkout", new_order_path, :method => "get" %>
<!-- i am not quite shure what this line of code does. have to do after get over this-->
<%= button_to "Empty cart", cart, :method => "delete", :confirm => "Are you shure?" %>
