<tr>
  <td><%= list_item.title %></td>
</tr>
<tr>
  <td><img src="<%= list_item.picture_url %>"></img></td>
</tr>
<tr>
  <td><%= list_item.quantity %>&times;</td>
</tr>
<tr>
  <td height="10px"></td>
</tr>
