/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
#bodystyle {
    background-color: #412011;
    font: 80%/1 sans-serif;
    text-transform: lowercase;
    font-variant: small-caps;
    font-family: Verdana, Arial, SunSans-Regular, Sans-Serif;
    color: #564b47;
    padding: 0;
    margin: 0;
}

a {
    outline: 0;
}

.listyle {
    list-style: none;
}

.addToCartBtn {
    margin-left: 550px;
}

#topspace {
    padding: 0px;
    height: 5px;
    margin: 0px;
}

#banner {
    height: 50px;
    width: 1206px;
    margin: 0 auto;
}

#logo {
    font-size: 35px;
    width: 500px;
    float: left;
    color: #57b9ff;
}

#container {
    width: 1206px;
    margin: 0 auto;
    padding: 8px;
    border-radius: 8px;
}

#mainnavi {
    margin: 0;
    padding: 0;
    background-color: #E0A3B7;
}

#left {
    float: left;
    width: 13em;
    height: 1000px;
    margin-right: 1em;
    z-index: 999;
    margin-top: 1em;
    padding: 10px 5px 10px 10px;
    background-color: #8bcdff;
}

#right {
    float: right;
    width: 13em;
    margin: 0;
    padding: 0;
    color: #ffffff;
    background-color: #8bcdff;
    height: 1020px;
    margin-top: 1em;
}

#content {
    height: 1000px;
    background-color: #8bcdff;
    margin: 0 15em;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 812px;
    padding: 10px;
}

#bottom {
    border-top: 5px;
    padding: 0;
    margin: 0;
    clear: both;
    height: 60px;
    margin: 10px;
}

#bottomDivider {
    border-top: 1px solid #000000;
    height: 1px;
    width: 100%;
}

#impressum {
    text-transform: lowercase;
    font-variant: small-caps;
    font-family: Verdana, Arial, SunSans-Regular, Sans-Serif;
    text-decoration: none;
    font-size: 15px;
}
