<tr>
  <td colspan="3"><%= image_tag(line_item.product.image_url) %></td>
</tr>
<tr>
  <td><%= line_item.quantity %>&times;</td>
  <td><%= line_item.product.title %></td>
  <td class="item_price"><%= number_to_currency(line_item.total_price)%></td>
</tr>
<tr>
  <td height="10px"></td>
</tr>
