<!DOCTYPE html>
<html>
    <head>
        <title>Wischlist</title>
        <%= stylesheet_link_tag    "application", :media => "all" %>
        <%= javascript_include_tag "application" %>
        <%= csrf_meta_tags %>
    </head>

    <body class='<%= controller.controller_name %>'>
        <div id="topspace"></div>
        
        <div id="banner">
            <div id="logo">WISCHLIST</div>
        </div>
        
        <div id="container">
            <div id="left">
                <ul>
                    <li>Linka</li>
                    <li>Linkb</li>
                    <li>Linkc</li>
                </ul>
            </div>
            
            <div id="right" >
              <%= if @list != nil then render @list end %>              
            </div>
            
            <div id="content">
                <%= yield %>
            </div>
            
            <div id="bottom">
                <div id="bottomDivider"></div>
                <table>
                    <tr>
                        <td><a id="impressum">Impressum</a></td>
                    </tr>
                </table>
            </div>
       </div>
    </body>
</html>
